.base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .base-container .header {
    font-size: 30px;
    font-style: italic;
    font-family: "Open Sans", sans-serif;
    
  }
  .base-container .content {
    display: flex;
    flex-direction: column;
  }
  .base-container .content .image {
    width: 21em;
    
  }
  .base-container .content .image img {
    width: 100%;
    height: 100%;
  }
  .base-container .content .form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .base-container .content .form .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
  }
  .base-container .content .form .form-group label {
    font-size: 24px;
    text-align: start;
 
  }
  .base-container .content .form .form-group input {
    margin-top: 6px;
    min-width: 18em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    border-bottom: 31px;
    transition: all 200ms ease-in-out;
  }
  .base-container .content .form .form-group input:focus {
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #0e81ce96;

  }

